
<div class="offcanvas-header">
    <h2 class="offcanvas-title">Редактирование учебного центра</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <form action="#" name="training_centre-update" id="training_centre_update-form" class="form-update">

        <input type="hidden" name="id" value="{{ data.id|default(false) }}">
        <div class="card">

            <ul class="nav nav-tabs" data-bs-toggle="tabs">
                <li class="nav-item">
                    <a href="#uc_create_tab4" class="nav-link control-tab active" data-bs-toggle="tab">Основное</a>
                </li>
                <li class="nav-item">
                    <a href="#uc_create_tab5" class="nav-link control-tab" data-bs-toggle="tab">Настройки</a>
                </li>
                <li class="nav-item">
                    <a href="#uc_create_tab6" class="nav-link control-tab" data-bs-toggle="tab">Реквизиты</a>
                </li>
            </ul>

        </div>

        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active show" id="uc_create_tab4">
                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">Название *</label>
                        <div class="col">
                            <input name="name" type="text" class="form-control" placeholder="Название УЦ" required value="{{ data.name|default(false) }}">
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">Телефон</label>
                        <div class="col">
                            <input name="phone" type="text" class="form-control" placeholder="телефон" value="{{ data.phone|default(false) }}">
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">E-mail</label>
                        <div class="col">
                            <input name="email" type="text" class="form-control" placeholder="email" value="{{ data.email|default(false) }}">
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">URL</label>
                        <div class="col">
                            <input name="url" type="text" class="form-control" placeholder="url" value="{{ data.url|default(false) }}">
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="uc_create_tab5">
                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">Идентификатор в бакалавр-магистр</label>
                        <div class="col">
                            <input name="external_upload_bakalavrmagistr_id" type="text" class="form-control" placeholder="id" value="{{ data.external_upload_bakalavrmagistr_id|default(false) }}">
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <label class="form-label col-3 col-form-label">Идентификатор в сдо</label>
                        <div class="col">
                            <input name="external_upload_sdo_id" type="text" class="form-control" placeholder="id" value="{{ data.external_upload_sdo_id|default(false) }}">
                        </div>
                    </div>
                </div>



                <div class="tab-pane row" id="uc_create_tab6">

                    <div class="row collapse" id="addRqPanel">
                        <div class="col-6">
                            <div class="form-group mb-3 row">
                                <div>Директор</div>
                                <div class="col">
                                    <input type="text" name="director" value="" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <div>Позиция директора</div>
                                <div class="col">
                                    <input type="text" name="director_position" value="" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <div>Дата изменения</div>
                                <div class="col">
                                    <input type="date" name="from_date" value="" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <div>Город</div>
                                <div class="col">
                                    <input type="text" name="city" value="" class="form-control" />
                                </div>
                            </div>

                        </div>

                        <div class="col-6">
                            <div class="form-group mb-3 row">
                                <div>Сокращенное название</div>
                                <div class="col">
                                    <input type="text" name="short_name" class="form-control" value="" />
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <div>Полное название</div>
                                <div class="col">
                                    <textarea name="full_name" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <div>Адрес</div>
                                <div class="col">
                                    <textarea name="address" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex mb-4">
                        <button type="button" class="btn btn-green ms-auto" data-action="view" data-bs-toggle="collapse" href="#addRqPanel">Добавить</button>
                    </div>

                    {% if data.trainingCentersRequisites|default(false) %}
                        <table id="training_centre" class="users-table table card-table table-vcenter datatable">
                            <thead>
                            <tr>
                                <th>Дата</th>
                                <th>Директор</th>
                                <th>Должность</th>
                                <th>Город</th>
                                <th>Сокращенное название</th>
                                <th>Полное название</th>
                                <th>Адрес</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for rq in data.trainingCentersRequisites %}
                                    <tr>
                                        <td></td>
                                        <td>{{ rq.director|default(false) }}</td>
                                        <td>{{ rq.director_position|default(false) }}</td>
                                        <td>{{ rq.city|default(false) }}</td>
                                        <td>{{ rq.short_name|default(false) }}</td>
                                        <td>{{ rq.name|default(false) }}</td>
                                        <td>{{ rq.address|default(false) }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>

            </div>
        </div>

        <div class="d-flex mb-4">
            <button data-form-id="training_centre_update-form" data-action="send-form" type="submit"
                    class="btn btn-primary ms-auto"
                    aria-label="Close">Сохранить
            </button>
        </div>
    </form>
</div>
