{% extends 'base.html.twig' %}

{% block title %}СПРУТ 1.0{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {{ include('block/header.html.twig') }}

    <div class="container">
        <div class="columns">
            <ul class="columns__list">
                <li class="columns__item">
                    <a class="columns__link" href="{{ path('main') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="50" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                    <span>Рабочий стол</span>
                    </a>
                </li>
                <li class="columns__item">
                    <a class="columns__link" href="{{ path('program') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="50" height=50 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3" /><line x1="12" y1="12" x2="20" y2="7.5" /><line x1="12" y1="12" x2="12" y2="21" /><line x1="12" y1="12" x2="4" y2="7.5" /><line x1="16" y1="5.25" x2="8" y2="9.75" /></svg>
                    <span>Курсы</span>
                    </a>
                </li>
                <li class="columns__item">
                    <a class="columns__link" href="{{ path('main') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width=50 height=50 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3" /><line x1="12" y1="12" x2="20" y2="7.5" /><line x1="12" y1="12" x2="12" y2="21" /><line x1="12" y1="12" x2="4" y2="7.5" /><line x1="16" y1="5.25" x2="8" y2="9.75" /></svg>
                    <span>Производство</span>
                    </a>
                </li>
                <li class="columns__item">
                    <a class="columns__link" href="{{ path('administrator_user') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width=50 height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 11 12 14 20 6" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                    <span>Панель управления</span>
                    </a>
                </li>
            </ul>
        </div>


    </div>
{% endblock %}
