{% extends 'base.html.twig' %}

{% block title %}СПРУТ 1.0{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {{ include('block/header.html.twig') }}

    <div class="page page-layout">
        <aside class="navbar navbar-vertical navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    {% include 'administrator/block/nav_directory.html.twig' with {'controller': 'kafedra'} %}
                </div>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-xl">
                {% include 'administrator/block/header_list.html.twig' with {'header': 'Справочник - кафедры', 'onpage_link': path('administrator_kafedra')} %}
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <div class="row row-deck row-cards">
                        <div class="col-12">
                            <div class="card">
                                {% include 'administrator/user/block/search_panel.html.twig' %}
                                <div class="users-table-wrap table-responsive">

                                    <table id="usersTable"
                                           class="users-table table card-table table-vcenter text-nowrap datatable">
                                        <thead>
                                        <tr>
                                            {% if table|default(false) %}
                                                {% for tbl in table %}
                                                    {% if tbl.3 == true %}
                                                        {% if loop.first == 1 %}
                                                            <th>
                                                                <a class="sort-icon
                                                           is-{% if sort.current_sort|default(false) and sort.current_sort == tbl.0 %}desc{% elseif sort.current_sort|default(false) and sort.current_sort == (tbl.0~'__up') %}asc{% elseif sort.current_sort|default(false) == false %}asc{% else %}both{% endif %}"
                                                                   href="{{ path('administrator_kafedra') ~ sort.sort_link ~ tbl.0 }}{% if sort.current_sort|default(false) and sort.current_sort == tbl.0 %}__up{% endif %}"></a>
                                                                {{ tbl.1 }}
                                                            </th>
                                                        {% else %}
                                                            <th>
                                                                <a class="sort-icon
                                                           is-{% if sort.current_sort|default(false) and sort.current_sort == tbl.0 %}desc{% elseif sort.current_sort|default(false) and sort.current_sort == (tbl.0~'__up') %}asc{% else %}both{% endif %}"
                                                                   href="{{ path('administrator_kafedra') ~ sort.sort_link ~ tbl.0 }}{% if sort.current_sort|default(false) and sort.current_sort == tbl.0 %}__up{% endif %}"></a>
                                                                {{ tbl.1 }}
                                                            </th>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            <th class="hidden-cell"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set id=1 %}
                                        {% if data|default(false) %}
                                            {% for dat in data %}

                                                <tr data-string="{{ dat.id }}" class="user-table-row {% if loop.first %}is-selected{% endif %}">
                                                    <td>
                                                        {{ dat['id']|default(false) }}
                                                    </td>
                                                    <td>
                                                        {{ dat['training_centre']['name']|default(false) }}
                                                    </td>
                                                    <td>
                                                        {{ dat['name']|default(false) }}
                                                    </td>
                                                    <td>
                                                        {{ dat['director']['username']|default(false) }}
                                                    </td>
                                                    <td>
                                                        {{ dat['director']['email']|default(false) }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>

                                <div class="card-footer d-flex align-items-center">
                                    <p class="m-0 text-muted"><b>{{ data|length }}</b> результатов</p>

                                    {% if pager.count_page|default(false) and pager.count_page > 1 %}
                                        <ul class="pagination m-0 ms-auto">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                                    <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                         height="24" viewBox="0 0 24 24" stroke-width="2"
                                                         stroke="currentColor" fill="none" stroke-linecap="round"
                                                         stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                        <polyline points="15 6 9 12 15 18"/>
                                                    </svg>
                                                </a>
                                            </li>

                                            {% for page in 1..pager.count_page %}
                                                {% if page == pager.current_page %}
                                                    <li class="page-item active"><a class="page-link"
                                                                                    href="{{ path('administrator_kafedra') ~ pager.paginator_link ~ page }}">{{ page }}</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item"><a class="page-link"
                                                                             href="{{ path('administrator_kafedra') ~ pager.paginator_link ~ page }}">{{ page }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}

                                            <li class="page-item">
                                                <a class="page-link" href="#">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                         height="24" viewBox="0 0 24 24" stroke-width="2"
                                                         stroke="currentColor" fill="none" stroke-linecap="round"
                                                         stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                        <polyline points="9 6 15 12 9 18"/>
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    {% endif %}

                                </div>
                            </div>

                            <div id="userEditingOverlay" class="offcanvas-backdrop fade"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
