<div class="users-table-wrap table-responsive">
    <table id="usersTable"
           class="users-table table card-table table-vcenter text-nowrap datatable">
        <thead>
        <tr>
            <th></th>
            <th>Название</th>
            <th>Комментарий</th>
            <th>Идентификатор</th>
        </tr>
        </thead>
        <tbody>
        {% if role_list|default(false) %}
            {% for ul in role_list %}
                <tr class="user-table-row {% if loop.first %}is-selected{% endif %}">
                    <td><span class="badge bg-success"></span></td>
                    <td>
                        {{ ul.name|default(false) }}
                    </td>
                    <td>
                    </td>
                    <td>
                        {{ ul.roles_alt|default(false) }}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

<div class="card-footer d-flex align-items-center">
    <p class="m-0 text-muted"><b>{{ pager.count_all_position }}</b> результатов</p>
    {% if pager.count_page|default(false) and pager.count_page > 1 %}
        <ul class="pagination m-0 ms-auto">
            <li class="page-item">
                <a class="page-link" href="{{ path('administrator_operations') ~ pager.paginator_link ~ '1' }}" tabindex="-1">
                    <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                         height="24" viewBox="0 0 24 24" stroke-width="2"
                         stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <polyline points="15 6 9 12 15 18"/>
                    </svg>
                </a>
            </li>

            {% if pager.count_page > 8 %}
                {% set start = 1 %}
                {% if pager.current_page|default(false) %}
                    {% set start = pager.current_page %}
                {% endif %}
                {% if start > 1 %}
                    {% set start = start - 1 %}
                {% endif %}
                {% if pager.current_page > (pager.count_page - 5) %}
                    {% set start = pager.count_page - 5 %}
                {% endif %}

                {% for page in start..pager.count_page %}
                    {% if loop.index < 8 %}
                        <li class="page-item {% if (page == pager.current_page) or (page == 1 and pager.current_page|default(false) == false) %}active{% endif %}">
                            <a class="page-link" href="{{ path('administrator_operations') ~ pager.paginator_link ~ page }}">
                                {{ page }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for page in 1..pager.count_page %}
                    {% if (page == pager.current_page) or (page == 1 and pager.current_page|default(false) == false) %}
                        <li class="page-item active"><a
                                data-ajax="{{ path('administrator_operations') ~ pager.paginator_link ~ page }}&ajax=true"
                                class="page-link"
                                href="{{ path('administrator_operations') ~ pager.paginator_link ~ page }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link"
                                                 href="{{ path('administrator_operations') ~ pager.paginator_link ~ page }}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <li class="page-item">
                <a class="page-link" href="{{ path('administrator_operations') ~ pager.paginator_link ~ pager.count_page }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                         height="24" viewBox="0 0 24 24" stroke-width="2"
                         stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <polyline points="9 6 15 12 9 18"/>
                    </svg>
                </a>
            </li>
        </ul>
    {% endif %}

</div>
