<ul class="hierarchy__group-list">
    <li class="hierarchy__group-item" data-scope-for="desktop">
        <label class="hierarchy__scope">
            <input type="checkbox" name="role[desktop]" value="desktop"
                   {% if data.auth_list|default(false) %}
                       {% if data.auth_list['desktop']|default(false) %}
                           checked
                       {% endif %}
                   {% endif %}
                   class="form-check-input js-checkbox-scope parent-checkbox-scope"
                   data-selected-by="workflow">{{ operations.auth_desktop }}
        </label>
    </li>
    <li class="hierarchy__group-item" data-scope-for="desktop">
        <label class="hierarchy__scope hierarchy__scope--parent">
            <input type="checkbox" name="role[program][view]" value="1"
                   class="form-check-input js-checkbox-scope parent-checkbox-scope"
                    {% if data.auth_list|default(false) %}
                        {% if data.auth_list['program']['view']|default(false) %}
                            checked
                        {% endif %}
                    {% endif %}
                   data-selected-by="workflow">{{ operations.auth_program }}
        </label>
        <ul class="hierarchy__child-scopes">
            <li class="js-check-scope-container" data-scope-for="repo:status">
                <label class="hierarchy__scope">
                    <input type="checkbox" name="role[program][add]" value="1"
                        {% if data.auth_list|default(false) %}
                            {% if data.auth_list['program']['add']|default(false) %}
                                checked
                            {% endif %}
                        {% endif %}
                           class="form-check-input js-checkbox-scope"/> создание
                </label>
            </li>
            <li class="js-check-scope-container" data-scope-for="repo:status">
                <label class="hierarchy__scope">
                    <input type="checkbox" name="role[program][edit]" value="1"
                        {% if data.auth_list|default(false) %}
                            {% if data.auth_list['program']['edit']|default(false) %}
                                checked
                            {% endif %}
                        {% endif %}
                           class="form-check-input js-checkbox-scope"/> редактирование
                </label>
            </li>
            <li class="js-check-scope-container" data-scope-for="repo:status">
                <label class="hierarchy__scope">
                    <input type="checkbox" name="role[program][delete]" value="1"
                        {% if data.auth_list|default(false) %}
                            {% if data.auth_list['program']['delete']|default(false) %}
                                checked
                            {% endif %}
                        {% endif %}
                           class="form-check-input js-checkbox-scope"/> удаление
                </label>
            </li>
        </ul>
    </li>


    <li class="hierarchy__group-item" data-scope-for="repo">
        <label class="hierarchy__scope hierarchy__scope--parent">
            <input type="checkbox" name="role[admin][view]" value="1"
                   class="form-check-input js-checkbox-scope parent-checkbox-scope"
                {% if data.auth_list|default(false) %}
                    {% if data.auth_list['admin']['view']|default(false) %}
                        checked
                    {% endif %}
                {% endif %}
                   data-selected-by="workflow"> {{ operations.auth_admin }}
        </label>
        <ul class="hierarchy__child-scopes">
            <li class="js-check-scope-container" data-scope-for="repo:status">
                <label class="hierarchy__scope hierarchy__scope--parent">
                    <input type="checkbox" name="role[user][view]" value="1"
                        {% if data.auth_list|default(false) %}
                            {% if data.auth_list['user']['view']|default(false) %}
                                checked
                            {% endif %}
                        {% endif %}
                           class="form-check-input js-checkbox-scope"/> Пользователи
                </label>
                <ul class="hierarchy__child-scopes">
                    <li class="js-check-scope-container" data-scope-for="repo:status">
                        <label class="hierarchy__scope hierarchy__scope--parent">
                            <input type="checkbox" name="role[user_list][view]" value="1"
                                {% if data.auth_list|default(false) %}
                                    {% if data.auth_list['user_list']['view']|default(false) %}
                                        checked
                                    {% endif %}
                                {% endif %}
                                   class="form-check-input js-checkbox-scope"/>
                            {{ operations.auth_user }}
                        </label>
                        <ul class="hierarchy__child-scopes">
                            <li class="js-check-scope-container" data-scope-for="repo:status">
                                <label class="hierarchy__scope">
                                    <input type="checkbox" name="role[user_list][add]" value="1"
                                        {% if data.auth_list|default(false) %}
                                            {% if data.auth_list['user_list']['add']|default(false) %}
                                                checked
                                            {% endif %}
                                        {% endif %}
                                           class="form-check-input js-checkbox-scope"/> создание
                                </label>
                            </li>
                            <li class="js-check-scope-container" data-scope-for="repo:status">
                                <label class="hierarchy__scope">
                                    <input type="checkbox" name="role[user_list][edit]"
                                           value="1"
                                        {% if data.auth_list|default(false) %}
                                            {% if data.auth_list['user_list']['edit']|default(false) %}
                                                checked
                                            {% endif %}
                                        {% endif %}
                                           class="form-check-input js-checkbox-scope"/>
                                    редактирование
                                </label>
                            </li>
                            <li class="js-check-scope-container" data-scope-for="repo:status">
                                <label class="hierarchy__scope">
                                    <input type="checkbox" name="role[user_list][delete]"
                                           value="1"
                                        {% if data.auth_list|default(false) %}
                                            {% if data.auth_list['user_list']['delete']|default(false) %}
                                                checked
                                            {% endif %}
                                        {% endif %}
                                           class="form-check-input js-checkbox-scope"/> удаление
                                </label>
                            </li>
                        </ul>
                    </li>
                    <li class="js-check-scope-container" data-scope-for="repo_deployment">
                        <label class="hierarchy__scope hierarchy__scope--parent">
                            <input type="checkbox" name="role[role][view]" value="1"
                                {% if data.auth_list|default(false) %}
                                    {% if data.auth_list['role']['view']|default(false) %}
                                        checked
                                    {% endif %}
                                {% endif %}
                                   class="form-check-input js-checkbox-scope" data-selected-by>
                            {{ operations.auth_role }}
                        </label>
                        <ul class="hierarchy__child-scopes">
                            <li class="js-check-scope-container" data-scope-for="repo:status">
                                <label class="hierarchy__scope">
                                    <input type="checkbox" name="role[role][add]" value="1"
                                        {% if data.auth_list|default(false) %}
                                            {% if data.auth_list['role']['add']|default(false) %}
                                                checked
                                            {% endif %}
                                        {% endif %}
                                           class="form-check-input js-checkbox-scope"/> создание
                                </label>
                            </li>
                            <li class="js-check-scope-container" data-scope-for="repo:status">
                                <label class="hierarchy__scope">
                                    <input type="checkbox" name="role[role][edit]" value="1"
                                        {% if data.auth_list|default(false) %}
                                            {% if data.auth_list['role']['edit']|default(false) %}
                                                checked
                                            {% endif %}
                                        {% endif %}
                                           class="form-check-input js-checkbox-scope"/>
                                    редактирование
                                </label>
                            </li>
                        </ul>
                    </li>
                    <li class="js-check-scope-container" data-scope-for="repo_deployment">
                        <label class="hierarchy__scope hierarchy__scope--parent">
                            <input type="checkbox" name="role[operations][view]" value="1"
                                {% if data.auth_list|default(false) %}
                                    {% if data.auth_list['operations']['view']|default(false) %}
                                        checked
                                    {% endif %}
                                {% endif %}
                                   class="form-check-input js-checkbox-scope">
                            {{ operations.auth_operations }}
                        </label>

                        <ul class="hierarchy__child-scopes">
                            <li class="js-check-scope-container" data-scope-for="repo:status">
                                <label class="hierarchy__scope">
                                    <input type="checkbox" name="role[operations][edit]" value="1"
                                        {% if data.auth_list|default(false) %}
                                            {% if data.auth_list['operations']['edit']|default(false) %}
                                                checked
                                            {% endif %}
                                        {% endif %}
                                           class="form-check-input js-checkbox-scope"/> создание
                                </label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="js-check-scope-container" data-scope-for="repo_deployment">
                <label class="hierarchy__scope hierarchy__scope--parent">
                    <input type="checkbox" name="role[directory][view]" value="1"
                        {% if data.auth_list|default(false) %}
                            {% if data.auth_list['directory']|default(false) %}
                                checked
                            {% endif %}
                        {% endif %}
                           class="form-check-input js-checkbox-scope" data-selected-by>
                    {{ operations.auth_directory }}
                </label>
                <ul class="hierarchy__child-scopes">
                    <li class="js-check-scope-container" data-scope-for="repo:status">
                        <label class="hierarchy__scope">
                            <input type="checkbox" name="role[directory][add]" value="1"
                                {% if data.auth_list|default(false) %}
                                    {% if data.auth_list['directory']['add']|default(false) %}
                                        checked
                                    {% endif %}
                                {% endif %}
                                   class="form-check-input js-checkbox-scope"/> создание
                        </label>
                    </li>
                    <li class="js-check-scope-container" data-scope-for="repo:status">
                        <label class="hierarchy__scope">
                            <input type="checkbox" name="role[directory][edit]" value="1"
                                {% if data.auth_list|default(false) %}
                                    {% if data.auth_list['directory']['edit']|default(false) %}
                                        checked
                                    {% endif %}
                                {% endif %}
                                   class="form-check-input js-checkbox-scope"/> редактирование
                        </label>
                    </li>
                    <li class="js-check-scope-container" data-scope-for="repo:status">
                        <label class="hierarchy__scope">
                            <input type="checkbox" name="role[directory][delete]" value="1"
                                {% if data.auth_list|default(false) %}
                                    {% if data.auth_list['directory']['delete']|default(false) %}
                                        checked
                                    {% endif %}
                                {% endif %}
                                   class="form-check-input js-checkbox-scope"/> удаление
                        </label>
                    </li>
                </ul>
            </li>
            <li class="js-check-scope-container" data-scope-for="repo_deployment">
                <label class="hierarchy__scope">
                    <input type="checkbox" name="role[log][view]" value="1"
                        {% if data.auth_list|default(false) %}
                            {% if data.auth_list['log']['view']|default(false) %}
                                checked
                            {% endif %}
                        {% endif %}
                           class="form-check-input js-checkbox-scope">
                    {{ operations.auth_log }}
                </label>
            </li>
            <li class="js-check-scope-container" data-scope-for="repo_deployment">
                <label class="hierarchy__scope hierarchy__scope--parent">
                    <input type="checkbox" name="role[api]" value="1"
                        {% if data.auth_list|default(false) %}
                            {% if data.auth_list['api']|default(false) %}
                                checked
                            {% endif %}
                        {% endif %}
                           class="form-check-input js-checkbox-scope parent-checkbox-scope"
                           data-selected-by="workflow"> API
                </label>
                <ul class="hierarchy__child-scopes">
                    <li class="js-check-scope-container" data-scope-for="repo:status">
                        <label class="hierarchy__scope">
                            <input type="checkbox" name="role[api][view]" value="1"
                                {% if data.auth_list|default(false) %}
                                    {% if data.auth_list['api']['view']|default(false) %}
                                        checked
                                    {% endif %}
                                {% endif %}
                                   class="form-check-input js-checkbox-scope"/>{{ operations.api_view }}
                        </label>
                    </li>
                    <li class="js-check-scope-container" data-scope-for="repo:status">
                        <label class="hierarchy__scope">
                            <input type="checkbox" name="role[api][add]" value="1"
                                {% if data.auth_list|default(false) %}
                                    {% if data.auth_list['api']['add']|default(false) %}
                                        checked
                                    {% endif %}
                                {% endif %}
                                   class="form-check-input js-checkbox-scope"/>{{ operations.api_edit }}
                        </label>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
