<ul class="hierarchy__group-list">
    <li class="hierarchy__group-item" data-scope-for="desktop">
        <label class="hierarchy__scope">
            <input type="checkbox" name="role[auth_desktop]" value="desktop"
                {% if data.auth_list|default(false) %}
                    {% if data.auth_list['auth_desktop']|default(false) %}
                        checked
                    {% endif %}
                {% endif %}
                   class="form-check-input js-checkbox-scope parent-checkbox-scope"
                   data-selected-by="workflow">{{ operations.auth_desktop }}
        </label>
    </li>
    <li class="hierarchy__group-item" data-scope-for="desktop">
        <label class="hierarchy__scope hierarchy__scope--parent">
            <input type="checkbox" name="role[auth_program]" value="1"
                   class="form-check-input js-checkbox-scope parent-checkbox-scope"
                {% if data.auth_list|default(false) %}
                    {% if data.auth_list['auth_program']|default(false) %}
                        checked
                    {% endif %}
                {% endif %}
                   data-selected-by="workflow">{{ operations.auth_program }}
        </label>
        <ul class="hierarchy__child-scopes">
            <li class="js-check-scope-container" data-scope-for="repo:status">
                <label class="hierarchy__scope">
                    <input type="checkbox" name="role[add_program]" value="1"
                        {% if data.auth_list|default(false) %}
                            {% if data.auth_list['add_program']|default(false) %}
                                checked
                            {% endif %}
                        {% endif %}
                           class="form-check-input js-checkbox-scope"/> {{ operations.add_program }}
                </label>
            </li>
            <li class="js-check-scope-container" data-scope-for="repo:status">
                <label class="hierarchy__scope">
                    <input type="checkbox" name="role[update_program]" value="1"
                        {% if data.auth_list|default(false) %}
                            {% if data.auth_list['update_program']|default(false) %}
                                checked
                            {% endif %}
                        {% endif %}
                           class="form-check-input js-checkbox-scope"/> {{ operations.update_program }}
                </label>
            </li>
            {#            <li class="js-check-scope-container" data-scope-for="repo:status"> #}
            {#                <label class="hierarchy__scope"> #}
            {#                    <input type="checkbox" name="role[program][delete]" value="1" #}
            {#                        {% if data.auth_list|default(false) %} #}
            {#                            {% if data.auth_list['program']['delete']|default(false) %} #}
            {#                                checked #}
            {#                            {% endif %} #}
            {#                        {% endif %} #}
            {#                           class="form-check-input js-checkbox-scope"/> удаление #}
            {#                </label> #}
            {#            </li> #}
        </ul>
    </li>


    <li class="hierarchy__group-item" data-scope-for="repo">
        <label class="hierarchy__scope hierarchy__scope--parent">
            <input type="checkbox" name="role[auth_admin]" value="1"
                   class="form-check-input js-checkbox-scope parent-checkbox-scope"
                {% if data.auth_list|default(false) %}
                    {% if data.auth_list['auth_admin']|default(false) %}
                        checked
                    {% endif %}
                {% endif %}
                   data-selected-by="workflow"> {{ operations.auth_admin }}
        </label>
        <ul class="hierarchy__child-scopes">
            <li class="js-check-scope-container" data-scope-for="repo:status">
                <ul class="hierarchy__child-scopes">
                    <li class="js-check-scope-container" data-scope-for="repo:status">
                        <label class="hierarchy__scope hierarchy__scope--parent">
                            <input type="checkbox" name="role[auth_user]" value="1"
                                {% if data.auth_list|default(false) %}
                                    {% if data.auth_list['auth_user']|default(false) %}
                                        checked
                                    {% endif %}
                                {% endif %}
                                   class="form-check-input js-checkbox-scope"/> {{ operations.auth_user }}
                        </label>
                        <ul class="hierarchy__child-scopes">
                            <li class="js-check-scope-container" data-scope-for="repo:status">
                                <label class="hierarchy__scope">
                                    <input type="checkbox" name="role[add_user]" value="1"
                                        {% if data.auth_list|default(false) %}
                                            {% if data.auth_list['add_user']|default(false) %}
                                                checked
                                            {% endif %}
                                        {% endif %}
                                           class="form-check-input js-checkbox-scope"/> {{ operations.add_user }}
                                </label>
                            </li>
                            <li class="js-check-scope-container" data-scope-for="repo:status">
                                <label class="hierarchy__scope">
                                    <input type="checkbox" name="role[update_user]"
                                           value="1"
                                        {% if data.auth_list|default(false) %}
                                            {% if data.auth_list['update_user']|default(false) %}
                                                checked
                                            {% endif %}
                                        {% endif %}
                                           class="form-check-input js-checkbox-scope"/>
                                    {{ operations.update_user }}
                                </label>
                            </li>
                        </ul>
                    </li>
                    <li class="js-check-scope-container" data-scope-for="repo_deployment">
                        <label class="hierarchy__scope hierarchy__scope--parent">
                            <input type="checkbox" name="role[auth_role]" value="1"
                                {% if data.auth_list|default(false) %}
                                    {% if data.auth_list['auth_role']|default(false) %}
                                        checked
                                    {% endif %}
                                {% endif %}
                                   class="form-check-input js-checkbox-scope" data-selected-by>
                            {{ operations.auth_role }}
                        </label>
                        <ul class="hierarchy__child-scopes">
                            <li class="js-check-scope-container" data-scope-for="repo:status">
                                <label class="hierarchy__scope">
                                    <input type="checkbox" name="role[add_role]" value="1"
                                        {% if data.auth_list|default(false) %}
                                            {% if data.auth_list['add_role']|default(false) %}
                                                checked
                                            {% endif %}
                                        {% endif %}
                                           class="form-check-input js-checkbox-scope"/> {{ operations.add_role }}
                                </label>
                            </li>
                            <li class="js-check-scope-container" data-scope-for="repo:status">
                                <label class="hierarchy__scope">
                                    <input type="checkbox" name="role[update_role]" value="1"
                                        {% if data.auth_list|default(false) %}
                                            {% if data.auth_list['update_role']|default(false) %}
                                                checked
                                            {% endif %}
                                        {% endif %}
                                           class="form-check-input js-checkbox-scope"/>
                                    {{ operations.update_role }}
                                </label>
                            </li>
                        </ul>
                    </li>
                    <li class="js-check-scope-container" data-scope-for="repo_deployment">
                        <label class="hierarchy__scope hierarchy__scope--parent">
                            <input type="checkbox" name="role[auth_operations]" value="1"
                                {% if data.auth_list|default(false) %}
                                    {% if data.auth_list['auth_operations']|default(false) %}
                                        checked
                                    {% endif %}
                                {% endif %}
                                   class="form-check-input js-checkbox-scope">
                            {{ operations.auth_operations }}
                        </label>

                        <ul class="hierarchy__child-scopes">
                            <li class="js-check-scope-container" data-scope-for="repo:status">
                                <label class="hierarchy__scope">
                                    <input type="checkbox" name="role[update_operations]" value="1"
                                        {% if data.auth_list|default(false) %}
                                            {% if data.auth_list['update_operations']|default(false) %}
                                                checked
                                            {% endif %}
                                        {% endif %}
                                           class="form-check-input js-checkbox-scope"/> {{ operations.update_operations }}
                                </label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="js-check-scope-container" data-scope-for="repo_deployment">
                <label class="hierarchy__scope hierarchy__scope--parent">
                    <input type="checkbox" name="role[auth_directory]" value="1"
                        {% if data.auth_list|default(false) %}
                            {% if data.auth_list['auth_directory']|default(false) %}
                                checked
                            {% endif %}
                        {% endif %}
                           class="form-check-input js-checkbox-scope" data-selected-by>
                    {{ operations.auth_directory }}
                </label>
                <ul class="hierarchy__child-scopes">
                    <li class="js-check-scope-container" data-scope-for="repo:status">
                        <label class="hierarchy__scope">
                            <input type="checkbox" name="role[add_directory]" value="1"
                                {% if data.auth_list|default(false) %}
                                    {% if data.auth_list['add_directory']|default(false) %}
                                        checked
                                    {% endif %}
                                {% endif %}
                                   class="form-check-input js-checkbox-scope"/> {{ operations.add_directory }}
                        </label>
                    </li>
                    <li class="js-check-scope-container" data-scope-for="repo:status">
                        <label class="hierarchy__scope">
                            <input type="checkbox" name="role[edit_directory]" value="1"
                                {% if data.auth_list|default(false) %}
                                    {% if data.auth_list['edit_directory']|default(false) %}
                                        checked
                                    {% endif %}
                                {% endif %}
                                   class="form-check-input js-checkbox-scope"/> {{ operations.edit_directory }}
                        </label>
                    </li>
                    <li class="js-check-scope-container" data-scope-for="repo:status">
                        <label class="hierarchy__scope">
                            <input type="checkbox" name="role[delete_directory]" value="1"
                                {% if data.auth_list|default(false) %}
                                    {% if data.auth_list['delete_directory']|default(false) %}
                                        checked
                                    {% endif %}
                                {% endif %}
                                   class="form-check-input js-checkbox-scope"/> {{ operations.delete_directory }}
                        </label>
                    </li>
                </ul>
            </li>
            <li class="js-check-scope-container" data-scope-for="repo_deployment">
                <label class="hierarchy__scope">
                    <input type="checkbox" name="role[auth_log]" value="1"
                        {% if data.auth_list|default(false) %}
                            {% if data.auth_list['auth_log']|default(false) %}
                                checked
                            {% endif %}
                        {% endif %}
                           class="form-check-input js-checkbox-scope">
                    {{ operations.auth_log }}
                </label>
            </li>
            <li class="js-check-scope-container" data-scope-for="repo:status">
                <label class="hierarchy__scope">
                    <input type="checkbox" name="role[api_view]" value="1"
                        {% if data.auth_list|default(false) %}
                            {% if data.auth_list['api_view']|default(false) %}
                                checked
                            {% endif %}
                        {% endif %}
                           class="form-check-input js-checkbox-scope"/>{{ operations.api_view }}
                </label>
            </li>
            <li class="js-check-scope-container" data-scope-for="repo:status">
                <label class="hierarchy__scope">
                    <input type="checkbox" name="role[api_edit]" value="1"
                        {% if data.auth_list|default(false) %}
                            {% if data.auth_list['api_edit']|default(false) %}
                                checked
                            {% endif %}
                        {% endif %}
                           class="form-check-input js-checkbox-scope"/>{{ operations.api_edit }}
                </label>
            </li>
        </ul>
    </li>
</ul>
