<div class="users-table-wrap table-responsive">
    <table id="usersTable"
           class="users-table table card-table table-vcenter datatable">
        <thead>
        <tr>
            {% if table|default(false) %}
                {% for tbl in table %}
                    {% if tbl['show'] == true %}
                        {% if tbl['header'] == '' %}
                            <th></th>
                        {% else %}
                                <th>
                                    <div class="th-name">
                                        <div class="sort-name-wrap">
{#                                            <span class="drag-icon" title="Переместить колонку {{ tbl['header'] }}"></span>#}
                                            <span class="name-text">{{ tbl['header'] }}</span>
                                        </div>

                                        <div class="filter-sort-wrap">
                                            {% if tbl['sort'] == true %}
                                                <a title="Сортировка по значению ({{ tbl['header'] }})"
                                                    class="sort-icon is-{% if sort.current_sort|default(false) and sort.current_sort == tbl['name'] %}desc{% elseif sort.current_sort|default(false) and sort.current_sort == (tbl['name']~'__up') %}asc{% else %}both{% endif %}"
                                                    href="{{ path('administrator_directory_fgos') ~ sort.sort_link ~ tbl['name'] }}{% if sort.current_sort|default(false) and sort.current_sort == tbl['name'] %}__up{% endif %}"
                                                ></a>
                                            {% endif %}

                                            {% if tbl['filter'] == true %}
                                                <button type="button"
                                                        title="Фильтрация по значению ({{ tbl['header'] }})"
                                                        class="table-filter-btn"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#filterModal-{{ loop.index }}">
                                                    <svg viewBox="64 64 896 896" focusable="false" data-icon="filter"
                                                         width="1em" height="1em" fill="currentColor"
                                                         aria-hidden="true">
                                                        <path
                                                            d="M349 838c0 17.7 14.2 32 31.8 32h262.4c17.6 0 31.8-14.3 31.8-32V642H349v196zm531.1-684H143.9c-24.5 0-39.8 26.7-27.5 48l221.3 376h348.8l221.3-376c12.1-21.3-3.2-48-27.7-48z"></path>
                                                    </svg>
                                                </button>
                                                <div class="modal fade" id="filterModal-{{ loop.index }}" tabindex="-1"
                                                     aria-labelledby="filterModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="filter-modal-title" id="filterModalLabel">
                                                                    Фильтрация
                                                                    по значению ({{ tbl['header'] }})</h5>
                                                                <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                {% if tbl['type'] == 'string' %}
                                                                    {% include 'block/filter/table_string.html.twig' with {
                                                                        'field': tbl['name']
                                                                    } %}
                                                                {% elseif tbl['type'] == 'date' %}
                                                                    {% include 'block/filter/table_date.html.twig' with {
                                                                        'field': tbl['name']
                                                                    } %}
                                                                {% elseif tbl['type'] == 'int' %}
                                                                    {% include 'block/filter/table_int.html.twig' with {
                                                                        'field': tbl['name']
                                                                    } %}
                                                                {% endif %}
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-primary">
                                                                    Фильтровать
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </th>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% if data|default(false) %}
            {% for dat in data %}
                <tr data-string="{{ dat.id }}" class="user-table-row {% if loop.first %}is-selected{% endif %}">
                    {% for tbl in table %}
                        {% if tbl['show'] == true %}
                            {% if tbl.type == 'bool' %}
                                <td><span class="badge {% if dat[tbl.name]|default(false) %} bg-success {% else %} bg-danger {% endif %} "></span></td>
                            {% elseif tbl.type == 'date' %}
                                <td class="text-center">{{ dat[tbl.name]|date("d.m.Y") }}</td>
                            {% elseif tbl.type == 'int' %}
                                <td class="text-center">{{ dat[tbl.name]|default(false)|raw }} </td>
                            {% else %}
                                <td>{{ dat[tbl.name]|default(false)|raw }} </td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
{% include 'block/paginator.html.twig' with {
    'path': path('administrator_directory_fgos')
} %}
