{% extends 'base.html.twig' %}

{% block title %}СПРУТ 1.0{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {{ include('block/header.html.twig') }}

    <div class="page page-layout">
        <aside class="navbar navbar-vertical navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbar-header-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-header-menu">
                    <div class="mt-2 mb-3">
                        <ul>
                            <li style="list-style: none; margin-bottom: 15px;"><a href="{{ path('program') }}" style="color: #333333; {% if select_type|default(false) == false %}font-weight:bold;{% endif %}">Все</a></li>
                            <li style="list-style: none; margin-bottom: 15px;"><a href="{{ path('program') }}?type=1" style="color: #333333; {% if select_type|default(false) and select_type == 1 %}font-weight:bold;{% endif %}">Повышение квалификации</a></li>
                            <li style="list-style: none; margin-bottom: 15px;"><a href="{{ path('program') }}?type=2" style="color: #333333; {% if select_type|default(false) and select_type == 2 %}font-weight:bold;{% endif %}">Профессиональная переподготовка</a></li>
                            <li style="list-style: none; margin-bottom: 15px;"><a href="{{ path('program') }}?type=3" style="color: #333333; {% if select_type|default(false) and select_type == 3 %}font-weight:bold;{% endif %}">Профессиональное обучение</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                {% include 'block/header_list.html.twig' with {'header': 'Программы', 'onpage_link': path('program')} %}
            </div>

            <div class="page-body">
                <div class="container-fluid">

                    <div class="row row-deck row-cards mb-3">
                        <div class="col-12">

                            <div class="card">
                                {% include 'block/search_panel.html.twig' with {
                                    'close_delete': true,
                                    'close_edit': true,
                                    'close_create': true,
                                    'path': path('program'),
                                    'add_csv': path('program') ~ '_csv' ~ csv_link
                                } %}

                                <div class="ajax-table ajax-table--program">
                                    {% include '/program/program_table.html.twig' %}
                                </div>

                            </div>


                            <div id="programCreationPanel" data-action="add" class="user-form-panel offcanvas offcanvas-end modal-large" tabindex="-1" aria-labelledby="offcanvasEndLabel">
                                {% include 'program/form/create_form.html.twig' %}
                            </div>

                            <div id="programEditingPanel" data-action="edit" class="user-form-panel offcanvas offcanvas-end modal-large" tabindex="-1" aria-labelledby="offcanvasEndLabel">
                                <img src="{{ absolute_url('/assets/images/loading--big.gif') }}" style="position: absolute; top: 10%; left: 50%; margin-left: -75px;">
                            </div>

                            <div id="userEditingOverlay" class="offcanvas-backdrop fade"></div>

                        </div>
                    </div>

                    <div class="row row-deck row-cards">
                        <div class="col-12">

                            <div class="card">
                                <ul class="nav nav-tabs" data-bs-toggle="tabs" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a href="#programs-tab-1" class="nav-link active" data-bs-toggle="tab"
                                           aria-selected="true" role="tab"><b>Этапы</b></a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a href="#programs-tab-2" class="nav-link" data-bs-toggle="tab"
                                           aria-selected="false" role="tab" tabindex="-1"><b>Статистика</b></a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a href="#programs-tab-3" class="nav-link" data-bs-toggle="tab"
                                           aria-selected="false" role="tab" tabindex="-1"><b>Документы</b></a>
                                    </li>
                                </ul>
                                <div class="card-body p-0">
                                    <div class="tab-content">


                                        <div class="tab-pane show active" id="programs-tab-1" role="tabpanel">
                                            <div class="p-3">
                                                Раздел находится в разработке
                                            </div>
                                        </div>
                                        {#<div class="tab-pane show active" id="programs-tab-1" role="tabpanel">
                                            <div class="users-table-wrap table-responsive">
                                                <table
                                                    class="users-table editable-table table card-table table-vcenter text-nowrap datatable">
                                                    <thead>
                                                    <tr>
                                                        <th>Статус</th>
                                                        <th>Название</th>
                                                        <th>Исполнитель</th>
                                                        <th>Описание</th>
                                                        <th>Комментарий</th>
                                                        <th></th>
                                                        <th class="hidden-cell"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr class="editable-table-row">
                                                        <td>
                                                            <span class="badge bg-success" title="утвержден" data-bs-toggle="tooltip"></span>
                                                        </td>
                                                        <td>
                                                            Настройка
                                                        </td>
                                                        <td>
                                                            Исторические данные
                                                        </td>
                                                        <td>
                                                            Назначение исполнителей
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td></td>
                                                        <td class="hidden-cell">
                                                            <input class="selected-checkbox" type="checkbox" name="#">
                                                        </td>
                                                    </tr>

                                                    <tr class="editable-table-row" data-target-panel="#FGOSEditingPanel"
                                                        data-target-overlay=".custom-overlay">
                                                        <td>
                                                            <span class="badge bg-success" title="утвержден" data-bs-toggle="tooltip"></span>
                                                        </td>
                                                        <td>
                                                            ФГОС и компетенции
                                                        </td>
                                                        <td>
                                                            Исторические данные
                                                        </td>
                                                        <td>
                                                            Привязка программы к ФГОС, назначение компетенций
                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td>
<!--                                                            <a class="btn btn-icon" data-bs-toggle="offcanvas"
                                                               href="#FGOSEditingPanel" role="button"
                                                               aria-controls="offcanvasEnd">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                     class="icon icon-tabler icon-tabler-link"
                                                                     width="44" height="44" viewBox="0 0 24 24"
                                                                     stroke-width="1.5" stroke="currentColor"
                                                                     fill="none" stroke-linecap="round"
                                                                     stroke-linejoin="round">
                                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                                    <path
                                                                        d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"/>
                                                                    <path
                                                                        d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"/>
                                                                </svg>
                                                            </a>-->
                                                        </td>
                                                        <td class="hidden-cell">
                                                            <input class="selected-checkbox" type="checkbox" name="#">
                                                        </td>
                                                    </tr>

                                                    <!-- <tr class="editable-table-row">
                                                        <td>
                                                            <span class="badge bg-success" title="утвержден" data-bs-toggle="tooltip"></span>
                                                        </td>
                                                        <td>
                                                            Учебный план
                                                        </td>
                                                        <td>
                                                            Исторические данные
                                                        </td>
                                                        <td>
                                                            Формирование учебного плана из дисциплин
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td></td>
                                                        <td class="hidden-cell">
                                                            <input class="selected-checkbox" type="checkbox" name="#">
                                                        </td>
                                                    </tr>
                                                    <tr class="editable-table-row">
                                                        <td>
                                                            <span class="badge bg-success" title="утвержден" data-bs-toggle="tooltip"></span>
                                                        </td>
                                                        <td>
                                                            Календарный план
                                                        </td>
                                                        <td>
                                                            Исторические данные
                                                        </td>
                                                        <td>
                                                            Формирование календарного плана на основе учебного
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td></td>
                                                        <td class="hidden-cell">
                                                            <input class="selected-checkbox" type="checkbox" name="#">
                                                        </td>
                                                    </tr> -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>#}

                                        <div class="tab-pane" id="programs-tab-2" role="tabpanel">
                                            <div class="p-3">
                                                Раздел находится в разработке
                                            </div>
                                        </div>

                                        <div class="tab-pane" id="programs-tab-3" role="tabpanel">
                                            <div class="p-3">
                                                Раздел находится в разработке
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div id="FGOSEditingPanel"
                                 class="custom-aside-panel user-form-panel offcanvas offcanvas-end" tabindex="-1"
                                 aria-labelledby="offcanvasEndLabel">
                                <div class="offcanvas-header">
                                    <h2 class="offcanvas-title">Привязка программы</h2>
                                    <button type="button" class="custom-panel-closer btn-close text-reset"
                                            data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <form action="#" name="program-binding">

                                        <div class="d-flex mb-4">
                                            <button type="submit" class="btn btn-primary ms-auto">Сохранить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="custom-overlay offcanvas-backdrop fade"></div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
