<div class="users-table-wrap table-responsive">
    <table id="usersTable" class="users-table table card-table table-vcenter datatable">
        <thead>
        <tr>
            {% if table|default(false) %}
                {% for tbl in table %}
                    {% if tbl.3 == true %}
                        {% if loop.first == 1 %}
                            <th>
                                <div class="th-name">
                                    <div class="sort-name-wrap">
                                        <span class="name-text">{{ tbl.1|raw }}</span>
                                    </div>
                                    <div class="filter-sort-wrap">
                                        {% if tbl.0 != '' %}
                                            <a
                                                class="sort-icon is-{% if sort.current_sort|default(false) and sort.current_sort == tbl.0 %}desc{% elseif sort.current_sort|default(false) and sort.current_sort == (tbl.0~'__up') %}asc{% elseif sort.current_sort|default(false) == false %}asc{% else %}both{% endif %}"
                                                href="{{ path('program') ~ sort.sort_link ~ tbl.0 }}{% if sort.current_sort|default(false) and sort.current_sort == tbl.0 %}__up{% endif %}"
                                            ></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </th>
                        {% else %}
                            <th>
                                <div class="th-name">
                                    <div class="sort-name-wrap">
                                        <span class="name-text">{{ tbl.1|raw }}</span>
                                    </div>

                                    {% if tbl.0 != '' %}
                                        <div class="filter-sort-wrap">
                                            <a class="sort-icon is-{% if sort.current_sort|default(false) and sort.current_sort == tbl.0 %}desc{% elseif sort.current_sort|default(false) and sort.current_sort == (tbl.0~'__up') %}asc{% else %}both{% endif %}"
                                            href="{{ path('program') ~ sort.sort_link ~ tbl.0 }}{% if sort.current_sort|default(false) and sort.current_sort == tbl.0 %}__up{% endif %}"></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </th>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% set count = 1 %}
        {% for program in data %}
            <tr data-string="{{ program.id }}" data-type="program" class="user-table-row {% if loop.first %}is-selected{% endif %} {% if program.active == false %}archive_program{% endif %}">
                <td>
                    {% if program.status|default(false) and program.status == 'new' %}
                        <span class="badge bg-red" title="Новая программа" data-bs-toggle="tooltip"></span>
                    {% elseif program.status|default(false) and program.status == 'work' %}
                        <span class="badge bg-warning" title="в работе" data-bs-toggle="tooltip"></span>
                    {% elseif program.status|default(false) and program.status == 'check' %}
                        <span class="badge bg-orange" title="на проверке" data-bs-toggle="tooltip"></span>
                    {% elseif program.status|default(false) and program.status == 'done' %}
                        <span class="badge bg-green" title="готова" data-bs-toggle="tooltip"></span>
                    {% else %}
                        <span class="badge" title="не определен" data-bs-toggle="tooltip"></span>
                    {% endif %}
                </td>
                <td>
                    {{ program.global_id }}
                </td>
                {# <td>
                    {% if program.history == true %}
                        да
                    {% else %}
                        нет
                    {% endif %}
                </td> #}
                <td style="text-align: center">
                    {{ program.program_type.short_name_type|default(false) }}
                </td>
                <td>
                    {{ program.name | raw }}
                </td>
                <td>{{ program.length_week|default(false) }}</td>
                <td>{{ program.length_week_short|default(false) }}</td>
                <td>{{ program.length_hour|default(false) }}</td>

                <td>
                    {% if program.federal_standart|default(false) %}
                        {% for fs in program.federal_standart %}
                            <span class="cursor-help text-decoration-underline" title="{{ fs.name|raw }}" data-bs-toggle="tooltip">{{ fs.short_name|raw }}</span>
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if program.prof_standarts|default(false) %}
                        {% for ps in program.prof_standarts %}
                            {{ ps.short_name|raw }}
                        {% endfor %}
                    {% endif %}
                </td>

                <td>
                    {% if program.training_centre|default(false) %}
                        {% for tc in program.training_centre %}
                            {{ tc.name }}<br />
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% include 'block/paginator.html.twig' with {
    'path': path('program')
}  %}
