<div class="users-table-wrap table-responsive">
    <table id="usersTable" class="users-table table card-table table-vcenter datatable">
        <thead>
        <tr>
            {% if table|default(false) %}
                {% for tbl in table %}
                    {% if tbl.3 == true %}
                        {% if loop.first == 1 %}
                            <th>
                                {% if tbl.0 != '' %}
                                    <a
                                        class="sort-icon is-{% if sort.current_sort|default(false) and sort.current_sort == tbl.0 %}desc{% elseif sort.current_sort|default(false) and sort.current_sort == (tbl.0~'__up') %}asc{% elseif sort.current_sort|default(false) == false %}asc{% else %}both{% endif %}"
                                       href="{{ path('program') ~ sort.sort_link ~ tbl.0 }}{% if sort.current_sort|default(false) and sort.current_sort == tbl.0 %}__up{% endif %}"
                                    ></a>
                                {% endif %}
                                {% if  tbl.1  == 'ID' %}
                                    <p class="th-name id-name">{{ tbl.1|raw }}</p>
                                {% else %}
                                    <p class="th-name">{{ tbl.1|raw }}</p>
                                {% endif %}
                            </th>
                        {% else %}
                            <th>
                                {% if tbl.0 != '' %}
                                <a class="sort-icon is-{% if sort.current_sort|default(false) and sort.current_sort == tbl.0 %}desc{% elseif sort.current_sort|default(false) and sort.current_sort == (tbl.0~'__up') %}asc{% else %}both{% endif %}"
                                   href="{{ path('program') ~ sort.sort_link ~ tbl.0 }}{% if sort.current_sort|default(false) and sort.current_sort == tbl.0 %}__up{% endif %}"></a>
                                {% endif %}
                                    <p class="th-name"> {{ tbl.1|raw }}</p>
                            </th>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            <th class="hidden-cell"></th>
        </tr>
        </thead>
        <tbody>
        {% set count = 1 %}
        {% for program in data %}
            <tr class="user-table-row {% if loop.first %}is-selected{% endif %}">
                <td>
                    {% if program.program_type.id|default(false) and program.program_type.id == 0 %}
                        <span class="badge bg-red" title="Не указан тип программы" data-bs-toggle="tooltip"></span>
                    {% elseif program.federal_standart|default(false) == false or program.prof_standarts|default(false) == false %}
                        <span class="badge bg-warning" title="Отсутствуют ФГОС и/или профстандарты" data-bs-toggle="tooltip"></span>
                    {% else %}
                        <span class="badge bg-green" title="Программа активна" data-bs-toggle="tooltip"></span>
                    {% endif %}
                </td>
                <td>
                    {{ program.id }}
                </td>
                <td>
                    {% if program.history == true %}
                        да
                    {% else %}
                        нет
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {{ program.program_type.short_name_type|default(false) }}
                </td>
                <td>
                    {{ program.name|raw }}
                </td>
                <td>
                    {% if program.federal_standart|default(false) %}
                        {% for fs in program.federal_standart %}
                            <span class="cursor-help text-decoration-underline" title="{{ fs.name|raw }}" data-bs-toggle="tooltip">{{ fs.short_name|raw }}</span>
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if program.prof_standarts|default(false) %}
                        {% for ps in program.prof_standarts %}
                            {{ ps.short_name|raw }}
                        {% endfor %}
                    {% endif %}
                </td>
                <td class="hidden-cell">
                    <input class="selected-checkbox" type="checkbox" name="#" checked>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% include 'block/paginator.html.twig' with {
    'path': path('program')
}  %}
