<div class="offcanvas-header">
    <h2 class="offcanvas-title">Создание программы</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <form action="#" name="program-create" id="add_program-create" class="form-create">

        <div class="card">

            <ul class="nav nav-tabs" data-bs-toggle="tabs">
                <li class="nav-item">
                    <a href="#tabs-home-ex1" class="nav-link active"
                       data-bs-toggle="tab">Основное</a>
                </li>
                <li class="nav-item">
                    <a href="#tabs-home-ex2" class="nav-link" data-bs-toggle="tab">ФГОС</a>
                </li>
            </ul>

            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tabs-home-ex1">
                        <div class="form-group mb-3 row">
                            <label class="form-label col-3 col-form-label">Название*</label>
                            <div class="col">
                                <input type="text" class="form-control" name="name" placeholder="Название программы"
                                       required>
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label class="form-label col-3 col-form-label">Тип программы</label>
                            <div class="col">
                                <select class="form-select" name="type" required>
                                    <option disabled {% if data.program_type.id|default(false) == false %}selected{% endif %}>
                                        Выберите дисциплину
                                    </option>
                                    {% for pt in program_type %}
                                        <option value="{{ pt.id }}" {% if data.program_type.id|default(false) and pt.id == data.program_type.id %}selected{% endif %}>
                                            {{ pt.name_type | raw }} ({{ pt.short_name_type | raw }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {# <div class="form-group mb-3 row align-items-center">
                            <label class="form-label col-3 col-form-label">Направление</label>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Название выбранного направления">
                            </div>
                        </div> #}
                    </div>


                    <div class="tab-pane fgos-tab fgos-tab--add" id="tabs-home-ex2">

{#                        <div class="fgos-item">#}
{#                            <div class="mb-3 fgos-datalist">#}
{#                                <label class="form-label">Выберите ФГОС</label>#}
{#                                <select name="fgos" class="form-control">#}
{#                                    <option value="">Выберите из списка</option>#}
{#                                    {% if fgos|default(false) %}#}
{#                                        {% for fg in fgos %}#}
{#                                            <option value="{{ fg.id }}">{{ fg.name }}</option>#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}

                        <div class="mb-3">
                            <div class="form-label fgos-label">Выберите тип образования</div>
                            <select class="form-select fgos-type-select">
                                <option value="1">Выберите из списка</option>
                                <option value="2">Среднее</option>
                                <option value="3">Высшее</option>
                            </select>
                        </div>
                        <div class="mb-3 fgos-education">
                            <label class="form-label">Выберите образование</label>
                            <div class="input-icon mb-3">
                                <input type="text" value="" class="form-control fgos-filter"
                                       placeholder="Выберите образование">
                                <span class="input-icon-addon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search"
                                         width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                         stroke="currentColor"
                                         fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="10" cy="10" r="7"></circle>
                                <line x1="21" y1="21" x2="15" y2="15"></line>
                            </svg>
                            </span>
                            </div>
                            <input type="hidden" class="fgos-hidden" name="fgos">
                            <ul class="fgos-education__list"></ul>
                        </div>
                        <div class="tab-pane" id="tabs-ex1">
                            <div class="dual-controls-wrap mb-4">
                                <div class="dual-controls-label mb-3">Выберите требования работодателя</div>
                                <div class="dual-controls-box col-12">
                                    <div class="dual-listbox dual-listbox--employer-add">
                                        <ul class="dual-controls-select dual-controls-select_create dual-listbox__available">
                                            {% if employer_requirements|default(false) %}
                                                {% for er in employer_requirements %}
                                                    {% if data.employer_requirements|default(false) and (er.id in data.employer_requirements) %}
                                                        <li class="dual-listbox__item dual-listbox__item--selected"
                                                            title="{{ er.requirement_name }}" value="{{ er.id }}">
                                                            {{ er.requirement_name }}
                                                        </li>
                                                    {% else %}
                                                        <li class="dual-listbox__item" title="{{ er.requirement_name }}"
                                                            value="{{ er.id }}">
                                                            {{ er.requirement_name }}
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                        <select hidden name="employer[]" id="employer-select-hidden--add" multiple>
                                            {% if employer_requirements|default(false) %}
                                                {% for er in employer_requirements %}
                                                    {% if data.employer_requirements|default(false) and (er.id in data.employer_requirements) %}
                                                        <option class="dual-listbox__item"
                                                                title="{{ er.requirement_name }}" value="{{ er.id }}"
                                                                selected>
                                                            {{ er.requirement_name }}
                                                        </option>
                                                    {% else %}
                                                        <option class="dual-listbox__item"
                                                                title="{{ er.requirement_name }}" value="{{ er.id }}">
                                                            {{ er.requirement_name }}
                                                        </option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                        <div class="dual-listbox__buttons">
                                            <button type="button" name="add_all" class="dual-listbox__button">&gt;&gt;
                                            </button>
                                            <button type="button" name="add_one" class="dual-listbox__button">&gt;
                                            </button>
                                            <button type="button" name="remove_one" class="dual-listbox__button">&lt;
                                            </button>
                                            <button type="button" name="remove_all" class="dual-listbox__button">&lt;&lt;
                                            </button>
                                        </div>
                                        <ul class="dual-controls-select dual-controls-select_create  dual-listbox__selected"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-ex2">
                            <div class="dual-controls-wrap mb-4">
                                <div class="dual-controls-label mb-3">Выберите потенциальные места работы</div>
                                <div class="dual-controls-box col-12">
                                    <div class="dual-listbox dual-listbox--potential-add">
                                        <ul class="dual-controls-select dual-controls-select_create dual-listbox__available">
                                            {% if potential_jobs|default(false) %}
                                                {% for pj in potential_jobs %}
                                                    {% if data.potential_jobs|default(false) and (pj.id in data.potential_jobs) %}
                                                        <li class="dual-listbox__item dual-listbox__item--selected"
                                                            title="{{ pj.jobs_name }}" value="{{ pj.id }}">
                                                            {{ pj.jobs_name }}
                                                        </li>
                                                    {% else %}
                                                        <li class="dual-listbox__item" title="{{ pj.jobs_name }}"
                                                            value="{{ pj.id }}">
                                                            {{ pj.jobs_name }}
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                        <select hidden name="potential[]" id="potential-select-hidden--add" multiple>
                                            {% if potential_jobs|default(false) %}
                                                {% for pj in potential_jobs %}
                                                    {% if data.potential_jobs|default(false) and (pj.id in data.potential_jobs) %}
                                                        <option class="dual-listbox__item"
                                                                title="{{ pj.jobs_name }}" value="{{ pj.id }}"
                                                                selected>
                                                            {{ pj.jobs_name }}
                                                        </option>
                                                    {% else %}
                                                        <option class="dual-listbox__item"
                                                                title="{{ pj.jobs_name }}" value="{{ pj.id }}">
                                                            {{ pj.jobs_name }}
                                                        </option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                        <div class="dual-listbox__buttons">
                                            <button type="button" name="add_all" class="dual-listbox__button">&gt;&gt;
                                            </button>
                                            <button type="button" name="add_one" class="dual-listbox__button">&gt;
                                            </button>
                                            <button type="button" name="remove_one" class="dual-listbox__button">&lt;
                                            </button>
                                            <button type="button" name="remove_all" class="dual-listbox__button">&lt;&lt;
                                            </button>
                                        </div>
                                        <ul class="dual-controls-select dual-controls-select_create  dual-listbox__selected"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="d-flex mb-4">
                        <button data-form-id="add_program-create" data-action="send-form" type="submit"
                                class="btn btn-primary ms-auto"
                                aria-label="Close"
                        >Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
