<div class="users-table-wrap table-responsive">
    <table id="usersTable"
           class="users-table table card-table table-vcenter text-nowrap datatable">
        <thead>
        <tr>
            {% if table|default(false) %}
                {% for tbl in table %}
                    {% if tbl.3 == true %}
                        {% if tbl.1 == '' %}
                            <th></th>
                        {% elseif tbl.1 != '' and tbl.0 == '' %}
                            <th>{{ tbl.1 }}</th>
                        {% else %}
                            {% if loop.first == 1 %}
                                <th>
                                    <a
                                        class="sort-icon is-{% if sort.current_sort|default(false) and sort.current_sort == tbl.0 %}desc{% elseif sort.current_sort|default(false) and sort.current_sort == (tbl.0~'__up') %}asc{% elseif sort.current_sort|default(false) == false %}asc{% else %}both{% endif %}"
                                        href="{{ path('administrator_user') ~ sort.sort_link ~ tbl.0 }}{% if sort.current_sort|default(false) and sort.current_sort == tbl.0 %}__up{% endif %}"></a>
                                    {% if  tbl.1  == 'ID' %}
                                        <p class="th-name id-name">{{ tbl.1 }}</p>
                                    {% else %}
                                        <p class="th-name">{{ tbl.1 }}</p>
                                    {% endif %}
                                </th>
                            {% else %}
                                <th>
                                    <a
                                        class="sort-icon is-{% if sort.current_sort|default(false) and sort.current_sort == tbl.0 %}desc{% elseif sort.current_sort|default(false) and sort.current_sort == (tbl.0~'__up') %}asc{% else %}both{% endif %}"
                                        href="{{ path('administrator_user') ~ sort.sort_link ~ tbl.0 }}{% if sort.current_sort|default(false) and sort.current_sort == tbl.0 %}__up{% endif %}"
                                    ></a>
                                    <p class="th-name"> {{ tbl.1 }}</p>
                                </th>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% if user_list|default(false) %}
            {% for ul in user_list %}
                <tr data-string="{{ ul.id }}" data-type="user"
                    class="user-table-row {% if loop.first %}is-selected{% endif %}">
                    <td><span class="badge {% if ul.activity|default(false) %}bg-success{% else %}bg-danger{% endif %}"></span></td>
                    <td>
                        Локальный
                    </td>
                    <td>
                        {{ ul.username|default(false) }}
                        {{ ul.surname|default(false) }}
                        {{ ul.patronymic|default(false) }}
                    </td>
                    <td>
                        {% for rol in roles %}
                            {% if ul.roles|default(false) and (rol.roles_alt in ul.roles) %}
                                {{ rol.name }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ ul.position|default('-') }}
                    </td>
                    <td>
                        {{ ul.departament.name|default('-') }}
                    </td>
                    <td>
                        {% if  ul.email|default(false) %}
                            <a href="mailto:{{ ul.email }}">
                                {{ ul.email }}
                            </a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if  ul.phone|default(false) %}
                            <a href="tel:{{ ul.phone }}">
                                {{ ul.phone }}
                            </a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

{% include 'block/paginator.html.twig' with {
    'path': path('administrator_user')
}  %}

