<header class="navbar navbar-expand-md navbar-light d-print-none">

    <div class="container-xl">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href="{{ path('main') }}">
                <img src="{{ asset('assets/images/logo.svg') }}" width="110" height="32" alt="СПРУТ" class="navbar-brand-image">
            </a>
        </h1>

        {% include "block/navbar.html.twig" %}

        <div class="navbar-nav flex-row">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Открыть меню пользователя">
                    <span class="avatar avatar-sm" style="background-image: url({{ asset('assets/images/user-128.svg') }})"></span>
                    <div class="d-none d-xl-block ps-2">
                        <div>
                            {{ app.user.username|default('Гость') }}
                            {{ app.user.surname|default(false) }}
                            {{ app.user.patronymic|default(false) }}
                        </div>
                    </div>
                </a>
                {% if app.user.username|default(false) %}
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        {# <a href="#" class="dropdown-item">Set status</a> #}
                        {# <a href="#" class="dropdown-item">Profile & account</a> #}
                        {# <a href="#" class="dropdown-item">Feedback</a> #}
                        {# <div class="dropdown-divider"></div> #}
                        {# <a href="#" class="dropdown-item">Settings</a> #}
                        <a href="{{ path('app_logout') }}" class="dropdown-item">Выход</a>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

</header>
