<div class="users-option-panel card-body border-bottom py-3">
    <form action="" method="get">
    <div class="d-flex align-items-center mb-0">
            <div class="is-left-col input-group input-group-flat me-2">
                    <input id='input-search' type="text" class="form-control" placeholder="Поиск"  autocomplete="off" name="search" value="{{ search|default(false) }}" />
                    <span class="input-group-text">
                        <a id="jsClearSearch" href="#" class="link-secondary" title="Очистить Поиск" data-bs-toggle="tooltip">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="18" y1="6" x2="6" y2="18" /><line x1="6" y1="6" x2="18" y2="18" /></svg>
                        </a>
                        <a href="#" class="link-secondary ms-2" title="Поиск" data-bs-toggle="tooltip">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="10" cy="10" r="7"></circle><line x1="21" y1="21" x2="15" y2="15"></line></svg>
                        </a>
                    </span>
            </div>
        <div class="me-2">
            <a href="{{ add_csv|default('#') }}" class="btn w-100 btn-icon" title="Экспорт в Excel" data-bs-toggle="tooltip">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-table-export" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M11.5 20h-5.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v7.5m-16 -3.5h16m-10 -6v16m4 -1h7m-3 -3l3 3l-3 3" />
                </svg>
            </a>
        </div>

        {#    Необходимо реализовать подключение нужного контекста    #}
        <div class="is-left-col ms-auto">
            <div class="btn-group w-100">
                {% set set_title = 'Данная операция недоступна, обратитесь к администратору системы.' %}

                {% if close_create|default(false) %}
                    <a class="btn disabled-btn" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ set_title }}">
                {% else %}
                    <a class="btn" data-action="add" data-bs-toggle="offcanvas" href="#{{ controller|default(false) }}CreationPanel" data-controller="{{ controller|default(false) }}" role="button" aria-controls="offcanvasEnd">
                {% endif %}Создать</a>

                {% if close_edit|default(false) %}
                    <a class="btn disabled-btn" role="button" data-bs-toggle="tooltip" aria-controls="offcanvasEnd" title="{{ set_title }}">
                {% else %}
                    <a class="btn" data-action="edit" data-bs-toggle="offcanvas" href="#{{ controller|default(false) }}EditingPanel" data-controller="{{ controller|default(false) }}" role="button" aria-controls="offcanvasEnd">
                {% endif %}Изменить</a>

                {% if close_delete|default(false) %}
                    <a class="btn disabled-btn" data-bs-toggle="tooltip" data-bs-placement="left" title="{{ set_title }}">
                {% else %}
                    <a class="btn" data-action="delete" data-bs-toggle="modal" data-bs-target="#userRemoveModal" data-controller="{{ controller|default(false) }}" href="#">
                {% endif %}Удалить</a>
            </div>
        </div>
    </div>
    </form>
</div>
