<div class="offcanvas-header">
    <h2 class="offcanvas-title">Создание пользователя</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <form action="#" name="user-create" id="user_add-create" class="form-create">

        <div class="form-group mb-3 row flex-nowrap align-items-center">
            <label for="cb-activity" class="form-label col-3 col-form-label">Пользователь активен</label>
            <div class="form-check form-switch mb-0 ms-2">
                <input id="cb-activity" class="form-check-input" name="activity" type="checkbox">
            </div>
        </div>

        <div class="">
            <ul class="nav nav-tabs" data-bs-toggle="tabs">
                <li class="nav-item">
                    <a href="#tabs-ex1" class="nav-link active" data-bs-toggle="tab">Основное</a>
                </li>
                <li class="nav-item">
                    <a href="#tabs-ex2" class="nav-link" data-bs-toggle="tab">Роли</a>
                </li>
                <li class="nav-item">
                    <a href="#tabs-ex3" class="nav-link" data-bs-toggle="tab">Контакты</a>
                </li>
            </ul>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tabs-ex1">
                        <div class="row">
                            <div class="col">
                                <div class="form-group mb-3 row">
                                    <label class="form-label col-3 col-form-label">Фамилия</label>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Фамилия" name="username"
                                               required>
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label class="form-label col-3 col-form-label">Имя</label>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Имя" name="surname">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label class="form-label col-3 col-form-label">Отчество</label>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Отчество"
                                               name="patronymic">
                                    </div>
                                </div>
                            </div>
                            {#
                            <div class="col user-photo-col">
                                <div class="user-photo-box">
                                    <input class="user-photo-input" name="user-photo" type="file" accept="image/png, image/jpg, image/jpeg, image/gif">
                                    <img class="user-photo-img" src="/assets/images/user.png" alt="">
                                </div>
                            </div>
                            #}
                        </div>
                        <div class="form-group mb-3 row">
                            <label class="form-label col-3 col-form-label">Должность</label>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Должность" name="position">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label class="form-label col-3 col-form-label">Логин (e-mail)*</label>
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Адрес электронной почты"
                                       name="email" required>
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label class="form-label col-3 col-form-label">Пароль*</label>
                            <div class="col">
                                <input type="password" class="form-control" placeholder="Пароль" name="password"
                                       required>
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label class="form-label col-3 col-form-label">Повторите пароль*</label>
                            <div class="col">
                                <input type="password" class="form-control" placeholder="Повторение пароля"
                                       name="password2" required>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tabs-ex2">
                        <div class="dual-controls-wrap mb-4">
                            <div class="dual-controls-label mb-3"><b>Выберите роль</b></div>
                            <div class="dual-controls-box col-12">
                                <div class="dual-listbox dual-listbox--user-add">
                                    {#                                    <div class="dual-listbox__container"> #}
                                    <ul class="dual-controls-select dual-controls-select_create  dual-listbox__available">
                                        {% if roles|default(false) %}
                                            {% for rol in roles %}
                                                {% if data.roles|default(false) and (rol.roles_alt in data.roles) %}
                                                    <li class="dual-listbox__item dual-listbox__item--selected"
                                                        title="{{ rol.name }}"
                                                        value="{{ rol.roles_alt }}">{{ rol.name }}</li>
                                                {% else %}
                                                    <li class="dual-listbox__item" title="{{ rol.name }}"
                                                        value="{{ rol.roles_alt }}">{{ rol.name }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                                                            <select class="dual-controls-select dual-controls-select_create  dual-listbox__available" hidden  name="roles[]" multiple>
                                                                                {% if roles|default(false) %}
                                                                                    {% for rol in roles %}
                                                                                        {% if data.roles|default(false) and (rol.roles_alt in data.roles) %}
                                                                                            <option class="dual-listbox__item" title="{{ rol.name }}" value="{{ rol.roles_alt }}" selected>{{ rol.name }}</option>
                                                                                        {% else %}
                                                                                            <option class="dual-listbox__item" title="{{ rol.name }}" value="{{ rol.roles_alt }}">{{ rol.name }}</option>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                {% endif %}
                                                                            </select>


                                    <div class="dual-listbox__buttons">
                                        <button type="button" name="add_all" class="dual-listbox__button">&gt;&gt;
                                        </button>
                                        <button type="button" name="add_one" class="dual-listbox__button">&gt;</button>
                                        <button type="button" name="remove_one" class="dual-listbox__button">&lt;
                                        </button>
                                        <button type="button" name="remove_all" class="dual-listbox__button">&lt;&lt;
                                        </button>
                                    </div>
                                    <ul class="dual-controls-select dual-controls-select_create  dual-listbox__selected"
                                        name="roles[]" multiple>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tabs-ex3">
                            <div class="form-group mb-3 row">
                                <label class="form-label col-3 col-form-label">Скайп</label>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Скайп" name="skype">
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <label class="form-label col-3 col-form-label">Телефон</label>
                                <div class="col">
                                    <input type="tel" class="form-control"
                                           placeholder="Телефон в формате +7 (xxx) xxx-xx-xx" name="phone">
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <label class="form-label col-3 col-form-label">Город</label>
                                <div class="col">
                                    <select class="form-select" name="city">
                                        <option disabled
                                                {% if data.city.id|default(false) == false %}selected{% endif %}>
                                            Выберите город из списка
                                        </option>
                                        {% for city in city_list %}
                                            <option value="{{ city.id }}"
                                                {% if data.city.id|default(false) and city.id == data.city.id %}
                                                    selected
                                                {% endif %}
                                            >{{ city.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="d-flex mb-4">
                    <button data-form-id="user_add-create" data-action="send-form" type="submit"
                            class="btn btn-primary ms-auto"
                            aria-label="Close">Сохранить
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>
