<ul class="navbar-nav pt-lg-3">
    <li class="nav-item {% if controller|default(false) and controller == 'fgos' %}active{% endif %}">
        <a class="nav-link" href="{{ path('administrator_directory_fgos') }}" title="Государственные стандарты">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-school" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
                <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
            </svg>
            <span class="nav-link-title">Государственные стандарты</span>
        </a>
    </li>
    <li class="nav-item {% if controller|default(false) and controller == 'ps' %}active{% endif %}">
        <a class="nav-link" href="{{ path('administrator_directory_ps') }}" title="Профессиональные стандарты">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-briefcase" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <rect x="3" y="7" width="18" height="13" rx="2" />
                <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" />
                <line x1="12" y1="12" x2="12" y2="12.01" />
                <path d="M3 13a20 20 0 0 0 18 0" />
            </svg>
            <span class="nav-link-title">Профессиональные стандарты</span>
        </a>
    </li>

    <li class="nav-item {% if controller|default(false) and controller in [] %}{% endif %} dropdown">
        <a class="nav-link dropdown-toggle show" href="#navbar-layout" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="true">
        <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/layout-2 -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-schema" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 2h5v4h-5z"></path>
                <path d="M15 10h5v4h-5z"></path>
                <path d="M5 18h5v4h-5z"></path>
                <path d="M5 10h5v4h-5z"></path>
                <path d="M10 12h5"></path>
                <path d="M7.5 6v4"></path>
                <path d="M7.5 14v4"></path>
            </svg>
        </span>
            <span class="nav-link-title">Кластеры</span>
        </a>
        <div class="dropdown-menu show" data-bs-popper="static">
            <pre>controller: {{ controller }}</pre>
            <div class="dropdown-menu-columns">
                <div class="dropdown-menu-column">
                    <a class="dropdown-item {% if controller|default(false) and controller == 'administrator_directory_cluster' %}active{% endif %}" href="/administrator/directory/cluster" title="Кластеры">
                        <span class="nav-link-title">Кластеры</span>
                    </a>
                    <a class="dropdown-item {% if controller|default(false) and controller == 'administrator_directory_product_line' %}active{% endif %}" href="/administrator/directory/product_line" title="Продуктовые направления">
                        <!-- svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sitemap" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <rect x="3" y="15" width="6" height="6" rx="2"></rect>
                            <rect x="15" y="15" width="6" height="6" rx="2"></rect>
                            <rect x="9" y="3" width="6" height="6" rx="2"></rect>
                            <path d="M6 15v-1a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v1"></path>
                            <line x1="12" y1="9" x2="12" y2="12"></line>
                        </svg -->
                        <span class="nav-link-title">Продуктовые<br />направления</span>
                    </a>
                    <a class="dropdown-item {% if controller|default(false) and controller == 'kafedra' %}active{% endif %}" href="/administrator/kafedra" title="Направления">
                        <!-- svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-directions" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 5h10l2 2l-2 2h-10a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1"></path>
                            <path d="M13 13h-7l-2 2l2 2h7a1 1 0 0 0 1 -1v-2a1 1 0 0 0 -1 -1"></path>
                            <line x1="12" y1="22" x2="12" y2="17"></line>
                            <line x1="12" y1="13" x2="12" y2="9"></line>
                            <line x1="12" y1="5" x2="12" y2="3"></line>
                        </svg -->
                        <span class="nav-link-title">Направления</span>
                    </a>
                </div>
            </div>
        </div>
    </li>

    <li class="nav-item {% if controller|default(false) and controller == 'tc' %}active{% endif %}">
        <a class="nav-link" href="{{ path('administrator_directory_tc') }}" title="Учебные центры">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <line x1="3" y1="21" x2="21" y2="21" />
                <line x1="9" y1="8" x2="10" y2="8" />
                <line x1="9" y1="12" x2="10" y2="12" />
                <line x1="9" y1="16" x2="10" y2="16" />
                <line x1="14" y1="8" x2="15" y2="8" />
                <line x1="14" y1="12" x2="15" y2="12" />
                <line x1="14" y1="16" x2="15" y2="16" />
                <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16" />
            </svg>
            <span class="nav-link-title">Учебные центры</span>
        </a>
    </li>

    <li class="nav-item {% if controller|default(false) and controller == 'administrator_directory_city' %}active{% endif %}">
        <a class="nav-link" href="{{ path('administrator_directory_city') }}" title="Города">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-community" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M8 9l5 5v7h-5v-4m0 4h-5v-7l5 -5m1 1v-6a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v17h-8"></path>
                <line x1="13" y1="7" x2="13" y2="7.01"></line>
                <line x1="17" y1="7" x2="17" y2="7.01"></line>
                <line x1="17" y1="11" x2="17" y2="11.01"></line>
                <line x1="17" y1="15" x2="17" y2="15.01"></line>
            </svg>
            <span class="nav-link-title">Города</span>
        </a>
    </li>
    <li class="nav-item {% if controller|default(false) and controller == 'administrator_directory_program_type' %}active{% endif %}">
        <a class="nav-link" href="{{ path('administrator_directory_program_type') }}" title="Тип программы">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-folders" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 4h3l2 2h5a2 2 0 0 1 2 2v7a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
                <path d="M17 17v2a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2h2" />
            </svg>
            <span class="nav-link-title">Тип программы</span>
        </a>
    </li>
    <li class="nav-item {% if controller|default(false) and controller == 'administrator_directory_employer_requirements' %}active{% endif %}">
        <a class="nav-link" href="{{ path('administrator_directory_employer_requirements') }}" title="Требования работодателя">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-license" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M15 21h-9a3 3 0 0 1 -3 -3v-1h10v2a2 2 0 0 0 4 0v-14a2 2 0 1 1 2 2h-2m2 -4h-11a3 3 0 0 0 -3 3v11" />
                <line x1="9" y1="7" x2="13" y2="7" />
                <line x1="9" y1="11" x2="13" y2="11" />
            </svg>
            <span class="nav-link-title">Требования работодателя</span>
        </a>
    </li>
    <li class="nav-item {% if controller|default(false) and controller == 'administrator_directory_potential_jobs' %}active{% endif %}">
        <a class="nav-link" href="{{ path('administrator_directory_potential_jobs') }}" title="Потенциальные места работы">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-factory" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 21c1.147 -4.02 1.983 -8.027 2 -12h6c.017 3.973 .853 7.98 2 12" />
                <path d="M12.5 13h4.5c.025 2.612 .894 5.296 2 8" />
                <path d="M9 5a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1" />
                <line x1="3" y1="21" x2="22" y2="21" />
            </svg>
            <span class="nav-link-title">Потенциальные места работы</span>
        </a>
    </li>
    <li class="nav-item {% if controller|default(false) and controller == 'administrator_directory_subdivisions' %}active{% endif %}">
        <a class="nav-link" href="{{ path('administrator_directory_subdivisions') }}" title="Подразделения">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-layout-grid" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <rect x="4" y="4" width="6" height="6" rx="1" />
                <rect x="14" y="4" width="6" height="6" rx="1" />
                <rect x="4" y="14" width="6" height="6" rx="1" />
                <rect x="14" y="14" width="6" height="6" rx="1" />
            </svg>
            <span class="nav-link-title">Подразделения</span>
        </a>
    </li>

    <li class="nav-item {% if controller|default(false) and controller == 'administrator_directory_directions' %}active{% endif %}">
        <a class="nav-link" href="{{ path('administrator_directory_directions') }}" title="Направления литературы">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hierarchy-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M10 3h4v4h-4z" />
                <path d="M3 17h4v4h-4z" />
                <path d="M17 17h4v4h-4z" />
                <path d="M7 17l5 -4l5 4" />
                <line x1="12" y1="7" x2="12" y2="13" />
            </svg>
            <span class="nav-link-title">Направления литературы</span>
        </a>
    </li>

</ul>
