{% if data|default(false) %}
    <div class="users-table-wrap table-responsive">
        <table id="usersTable"
               class="users-table table card-table table-vcenter text-nowrap datatable">
            <thead>
            <tr>
                {% if table|default(false) %}
                    {% for tbl in table %}
                        {% if tbl.3 == true %}
                            {% if loop.first == 1 %}
                                <th>
                                    <a
                                       class="sort-icon is-{% if sort.current_sort|default(false) and sort.current_sort == tbl.0 %}desc{% elseif sort.current_sort|default(false) and sort.current_sort == (tbl.0~'__up') %}asc{% elseif sort.current_sort|default(false) == false %}asc{% else %}both{% endif %}"
                                       href="{{ path('administrator_directory_tc') ~ sort.sort_link ~ tbl.0 }}{% if sort.current_sort|default(false) and sort.current_sort == tbl.0 %}__up{% endif %}"></a>
                                    {% if  tbl.1  == 'ID' %}
                                        <p class="th-name id-name">{{ tbl.1 }}</p>
                                    {% else %}
                                        <p class="th-name">{{ tbl.1 }}</p>
                                    {% endif %}
                                </th>
                            {% else %}
                                <th>
                                    <a
                                       class="sort-icon is-{% if sort.current_sort|default(false) and sort.current_sort == tbl.0 %}desc{% elseif sort.current_sort|default(false) and sort.current_sort == (tbl.0~'__up') %}asc{% else %}both{% endif %}"
                                       href="{{ path('administrator_directory_tc') ~ sort.sort_link ~ tbl.0 }}{% if sort.current_sort|default(false) and sort.current_sort == tbl.0 %}__up{% endif %}"
                                    ></a>
                                    <p class="th-name"> {{ tbl.1 }}</p>
                                </th>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <th class="hidden-cell"></th>
            </tr>
            </thead>
            {% for dt in data %}
                <tbody>
                <tr data-string="{{ dt.id }}" data-type="training_centre" class="user-table-row {% if loop.first %}is-selected{% endif %}">

                <td>{{ dt.id|default(false) }}</td>
                    <td>{{ dt.name|default(false) }}</td>
                    <td>{{ dt.phone|default(false) }}</td>
                    <td>{{ dt.email|default(false) }}</td>
                    <td>{{ dt.url|default(false) }}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endif %}

{% include 'block/paginator.html.twig' with {
    'path': path('administrator_directory_tc')
}  %}
